html{
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
}

body{
    background-color:#B0C7BD; 
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2em;
    line-height: 1;
    padding: 50px 0;
    font-family: "Century-Gothic", sans-serif;
    text-align: center;
}

h2{
    font-size: 1.5em;
    padding: 10px 0;
    line-height: 1.5;
    font-family: "Century-Gothic", sans-serif;
    text-align: center;
}

h3{
    padding: 10px;
}

.nav_item a{
    text-decoration: none;
}

/* .navigation{
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;
    justify-content: center;
    text-align: center;

} */

.navigation{
    list-style-type: none;
}

.nav_item{
    /* display:block; */
    padding-right: 20px;
    width: 10em;
    align-items: center;
}

header{
    background-color: #ddd;
    color: #33313A;
    padding: 25px 10px;
    text-align: left;
    font-family: Cambria, serif;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.nav_item a{
    color: #33313A;
}

.nav_item a:visited{
    color: #33313A;
}

.nav_item:hover, .nav_item:focus, .nav_item:active{
    text-transform: uppercase;
    background-color: #C1AAC0;
    border: 2px solid black;
    padding: 5px;
}

.current{
    text-transform: uppercase;
    background-color: #C1AAC0;
    padding: 5px;

}

header p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}

/* nav:focus{
    text-transform: uppercase;
    border: 2px solid black;

} */

p{
    padding: 10px;
    text-align: center;
    font-family: Cambria, serif;
    display: inline-block;
}

.caption{
    font-size:0.8em;
}

img{
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;

}

.aus-image img{
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.eurogrid{
    display: grid;
    grid-template-columns: 1fr;
}

footer{
    background-color: #ddd;
    color: #544E61;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    /* next lines added to keep footer position at the bottom of the viewport */
    bottom: 0;
    position: inherit; /*not sure if this is right */
    width: 100%; 
}


.skip a{
    left: 0;
    position: absolute;
    z-index: 1;
    top: -40px;
}

.skip a:focus{
    top: 0;
    left: 0;
}

/* for reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
    /* turn off scroll */
    html{
        scroll-behavior: auto;
    }

    /* turns off transition */

    /* .skip a{
        -webkit-transition: initial;
        transition: initial;
    } */

    /* header{
        background-attachment: initial;
    } */ 
    /* turns off parallax image, hasn't been setup yet so it's not linked to header  */

}

@media screen and (min-width: 800px){
    .eurogrid{
        display: grid;
        grid-template-columns:2fr 1fr;
    }

    nav{
        justify-content: center;
        width: auto;
    }

    .navigation{
        justify-content: center;
        flex-flow: row;
    }

    .americas{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-auto-rows: 2fr;
        grid-row-gap: 10px;
        height: fit-content;
    }
    
    .dominicanpic{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    
}   

    /* .americas:nth-child(1n){
        grid-column: 2/ span 1;
    }

    /* .americas:nth-child(even){
        grid-row: 2 / span 1;
    } */
/* 

@media screen and (min-width: 1000px) {
    nav{
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .nav_item{
        flex-direction: row;
    }

    .americas{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows:repeat(6, 1fr);
        grid-row-gap: 10px;
    }
} */